.iconbtn {
  ion-button {
    min-height: 50px !important;
    --border-radius: 15px !important;
    margin-left: 12px;
  }
}

.headtitle {
  font-size: 43px;
  font-weight: 600;
  color: var(--ion-color-light);
}
