<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" class="ion-text-start">
        <ion-label class="headtitle"> Notes </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-end iconbtn">
        <ion-button color="btndark">
          <ion-icon name="search" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button color="btndark">
          <ion-icon name="alert-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="height: 80vh" class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div>
          <img src="assets/home.png" />
          <ion-label color="light">Create your first note !</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="btndark">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
